@charset "UTF-8";

/* cores
    verde - #49a09d
    lilas - #5f2c82 */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
   
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 255px;
    height: 515px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    transition: width .4s, height .4s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
    
}
div#imagem {
    display: block;
    background: #5f2c82 url(../cadeado.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
    
}

div#formulario {
    display: block;
    padding: 10px;
}    

h1{
    text-align: center;
    margin-bottom: 10px;
    

}
p{
    font-size: 0.8em;
}
div.campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}
div.campo > label{
    display: none;
}
span {
    color: white;
    background-color: ;
    font-size: 2em;
    width: 38px;
    padding: 7px;
    margin: 0px;
}
div.campo > input{
    background-color: #5ccfcb;
    font-size: 1em;
    width: calc(100% - 43px);
    height: 95%;
    margin: 0px;
    border-radius: 8px;
    border: 0px;
    transform: translateY(-8px);
}
div.campo > input:focus-within{
    background-color: white;
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
input[type=submit]:hover{
    background-color: #2f6866;
}
a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2f6866;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}
a.botao:hover{
    background-color: #5ccfcb;
}
a.botao > i{
    font-size: 0.8em;
}